* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #eef2f3;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #06381c;
    border-bottom: 2px solid #046931;
}
header nav {
    display: flex;
    color: white;
    margin-left: 70px;
}
header nav a {
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 14px;
    border-right: 2px solid black;
}
header nav a:last-child {
    border-right: none;
}
.phone {
    display: flex;
    padding: 10px 15px;
    margin-right: 50px;
}
.phone img {
    width: 45px;
}
.phone span {
    border-right: 2px solid black;
    padding-right: 15px;
}
header span:last-child {
    border-right: none;
}
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: ;
    background-image: url('images/bg4.jpg');
    padding: 10px
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    margin-left: 20px;
}
.logo h1 {
    font-style: italic;
    font-size: 50px;
    color: white;
    margin-left: 20px;
}
.logo span {
    font-size: 30px;
    color: white;
}
.menu {
    display: flex;
    padding-right: 50px;
    align-items: center;
}
.menu a {
    padding-right: 10px;
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight:

    font-weight: 500;
}
.menu a:hover {
    color: rgb(220, 12, 12);
}
.hover {
    position: relative;
    height: 400px;
    overflow: hidden;
}
.background-image {
    background-image: url('images/travel bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    filter: brightness(70%);
}

.cards {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
}
.card {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    width: 30%;
    text-align: center;
    border-radius: 10px;
}
.card-image {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.card h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #1a5276;
}
.card-image {
    width: 60%;
    border-radius: 8px;
    margin-bottom: 15px;
}
.card p {
    font-size: 16px;
    margin-bottom: 15px;
}
.card a {
    color: #2980b9;
    text-decoration: none;
    font-weight: bold;
}
.card a:hover {
    color: #1a5276;
}
.contents {
    text-align: center;
    margin: 5px 0;
}
.image-title {
    background-image: url('images/bg4.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px;
    color: white;
}
.image-heading {
    font-size: 36px;
    margin: 0;
    font-weight: bold;
}
.main-section {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    background-image: url('images/bg8.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px;
}
.left-column {
    width: 60%;
}

.large-box {
    background-color: #d5dbdb;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}
.large-box-image {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}
.large-box h3 {
    font-size: 22px;
    color: #1a5276;
    margin-bottom: 10px;
}
.large-box p {
    font-size: 16px;
    margin-bottom: 15px;
}
.large-box a {
    color: #2980b9;
    text-decoration: none;
    font-weight: bold;
}
.large-box a:hover {
    color: #08c4d1;
}
.right-column {
    width: 35%;
}
.small-box {
    background-color: #d5dbdb;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}
.small-box h3 {
    font-size: 20px;
    color: #1a5276;
    margin-bottom: 10px;
}
.small-box p {
    font-size: 16px;
    margin-bottom: 15px;
}
.small-box a {
    color: #2980b9;
    text-decoration: none;
    font-weight: bold;
}
.small-box a:hover {
    color: #1a5276;
}
.bottom-section {
    text-align: center;
    background-image: url('images/bg6.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    color: white;
    padding: 50px;
}
.bottom-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}
.bottom-section p {
    font-size: 18px;
    margin-bottom: 30px;
}
.bottom-boxes {
    display: flex;
    justify-content: center;
}
.bottom-box1,
.bottom-box2 {
    width: 50%;
    margin: 0 10px;
}
.bottom-box-image {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}
.bottom-box1 h3,
.bottom-box2 h3 {
    font-size: 24px;
    color: white;
    margin-bottom: 15px;
}
.bottom-box1 a,
.bottom-box2 a {
    color: #03472a;
    text-decoration: none;
    font-weight: bold;
}
.bottom-box1 a:hover,
.bottom-box2 a:hover {
    color: #c3e5fa;
}
.footer-section {
    background-color: #06381c;
    color: white;
    padding: 15px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.footer-column {
    width: 30%;
}
.footer-column h3 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #aed6f1;
}
.footer-column p,
.footer-column ul {
    font-size: 16px;
    line-height: 1.7;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
}
.footer-column a:hover {
    color: #aed6f1;
}
.subscribe-form {
    display: flex;
    flex-direction: column;
}
.subscribe-form input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}
.subscribe-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2980b9;
    color: white;
    cursor: pointer;
}
.subscribe-form button:hover {
    background-color: #1a5276;
}
.icons {
    text-align: center;
    margin-bottom: 30px;
}
.icons i {
    margin: 0 10px;
    color: white;
    font-size: 24px;
    cursor: pointer;
}
.icons i:hover {
    color:#1294eb ;
}
.footer-bottom {
    text-align: center;
    color: #aed6f1;
    font-size: 14px;
}
